.Quiz {
  text-align: center;
  font-family: "Arial", sans-serif;
  background: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Quiz-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.Quiz-header h1 {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.result-container {
  text-align: center;
}

.result-container h2 {
  color: #333;
}

.result-container p {
  font-size: 1.2em;
  color: #666;
}

.result-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.result-container button:hover {
  background-color: #45a049;
}
